
.from-to-dropdown {
	display: block;
}

@font-face {
  font-family: 'hylia-serif';
  src: local('MyFont'), url(../fonts/hylia-serif.otf) format('opentype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

.from-to-title {
	grid-column-start: 1;
	grid-row-start: 1;
	font-family: 'hylia-serif';
}

.from-to-dropdown-top {
	grid-column-start: 1;
	grid-row-start: 2;
}

.from-to-dropdown-bottom {
	grid-column-start: 1;
	grid-row-start: 3;
}

.from-to-button {
	grid-column-start: 2;
	grid-row: 1 / span 3;
	margin: 10px;
	background-color: dimgrey;
}

.from-to-container {
	display: grid;
	gap: 3px;
	grid-template: auto auto auto / auto 100px;
	background-color: darkslategrey;
	margin: 5px;
}
