
.from-to-dropdown {
	display: block;
}

.from-to-title {
	grid-column-start: 1;
	grid-row-start: 1;
}

.from-to-dropdown-from {
	grid-column-start: 1;
	grid-row-start: 2;
}

.from-to-dropdown-to {
	grid-column-start: 1;
	grid-row-start: 3;
}

.from-to-dropdown-unlink {
	grid-column-start: 1;
	grid-row-start: 4;
}

.from-to-button {
	margin: 10px;
	background-color: dimgrey;
	font-size: 14pt;
	color: white;
}

.link-button {
	grid-column-start: 2;
	grid-row: 1 / span 3;
}

.unlink-button {
	grid-column-start: 2;
	grid-row: 4 / span 1;
}

.from-to-container {
	display: grid;
	gap: 3px;
	grid-template: auto auto auto / auto 100px;
	background-color: darkslategrey;
	margin: 5px;
}
